~$*
*.tmp
*.temp
~$*.xls*
*.bak
*.backup

index_fanyahanwen-corpus.csv
index_fanyahanwen-corpus.json
index_fanyahanwen-corpus.tsv
index_fanyahanwen-corpus.xlsx
index_fanyahanwen-corpus_by_work.csv
index_fanyahanwen-corpus_by_work.json
index_fanyahanwen-corpus_by_work.tsv
index_fanyahanwen-corpus_by_work.xlsx
