RAILS_ENV=production
RACK_ENV=production
RAILS_LOG_LEVEL=info
RAILS_MAX_THREADS=3
WEB_CONCURRENCY=0
JOB_THREADS=1

PUMA_BIND=unix:///home/fyhwc/www/www.fanyahanwen-corpus.cn/proxy.sock
PRIMARY_DATABASE_PATH=/home/fyhwc/data/hanwen_corpus_viewer_production.sqlite3
QUEUE_DATABASE_PATH=/home/fyhwc/data/hanwen_corpus_viewer_production_queue.sqlite3
ACTIVE_STORAGE_ROOT=/home/fyhwc/apps/fanyahanwen-corpus/viewer/storage
CORPUS_ROOT=/home/fyhwc/apps/fanyahanwen-corpus/corpus

SECRET_KEY_BASE=REPLACE_WITH_128_HEX_CHARACTERS
ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=REPLACE_WITH_64_HEX_CHARACTERS
ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=REPLACE_WITH_64_HEX_CHARACTERS
ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT=REPLACE_WITH_64_HEX_CHARACTERS

RAILS_FORCE_SSL=0
ENABLE_TEXTBOOK_EDITOR=0
SOLID_QUEUE_SUPERVISOR_MODE=async
